*
	{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Roboto', sans-serif;
	}
	
.row
	{
	display:flex;
	background-color:#ffffff;
	padding:50px 0;
	}
	
.container
	{
	width:85%;
	margin:auto;
	}
			
	
.col
	{
	width:25%;
	color:#777777;
	}
	
h1
	{
	font-size: 24px;
    margin: 0 0 15px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
	}
	
p
	{
	font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: #777777;
	}
	
.col-1
	{
	width:25%;
	color:#777777;
	}
	
.col-2
	{
	width:25%;
	color:#777777;
	}
	
.col-3
	{
	width:25%;
	color:#777777;
	}
	
h3
	{
	font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
	}
	
.ul
	{
	line-height:38px;
	list-style:none;
	}

.span
	{
	color:#106eea;
	}
	
.social-media i
	{
	color:#ffff;
	background-color:#106eea;
	display:inline-block;
	padding:7px;
	margin-top:10px;
	border-radius:4px;
	font-size:20px;
	}
	
.ul a
	{
	color: #777777;
    display: inline-block;
    line-height:1;
	font-size:14px;
	}
	
.ul i
	{
	color:#106eea;
	font-size:10px;
	}
	
a
	{
	padding-left:5px;
	text-decoration:none;
	color:#777777;
	}
	
.ul a:hover
	{
	color:#106eea;
	opacity:1;
	}
	
.social-media i:hover
	{
	opacity:0.7;
	}
	
.footer
	{
	background-color:#f1f6fe;
	padding-top:20px;
	padding-bottom:5px;
	}
	
.bottom
	{
	padding-left:7%
	}
	
.bottom-1
	{
	position:relative;
	text-align:center;
	padding-left:70%;
	bottom:40px;
	margin-top:20px;
	}
	
#color
	{
	color:#106eea;
	}
	
	
